<HTML>
<head>
<title>Pet adopt</title>
</head>
<body>
  <h1>Quizz and Formula</h1>
  <div>
    <h3>Generate</h2>
      <form method="post" action="/generate">
        <label for="firstname">Prénom</label>
        <input type="text" name="firstname" required><br>

        <label for="lastname">Nom</label>
        <input type="text" name="lastname" required><br>

        <label for="email">Email</label>
        <input type="email" name="email" required><br>

        <label for="address">Address</label>
        <input type="text" name="address" required><br>

        <label for="city">Ville</label>
        <input type="text" name="city" required><br>

        <label for="zipcode">Code Postal</label>
        <input type="text" name="zipcode" required><br>

        <label for="rgpd_ok">Je consens au traitement de mes données personnelles</label>
        <input type="checkbox" name="rgpd_ok" required><br>


        <button type="submit">Generate</button>
    </form>

  </div>
</body>
<footer>Social media links</footer>
</HTML>
